USE [master]
GO
/****** Object:  Database [TrainingInformationSystemDB]    Script Date: 5/9/2022 1:28:47 PM ******/
CREATE DATABASE [TrainingInformationSystemDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrainingInformationSystemDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\TrainingInformationSystemDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrainingInformationSystemDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER01\MSSQL\DATA\TrainingInformationSystemDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrainingInformationSystemDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrainingInformationSystemDB]
GO
/****** Object:  Table [dbo].[result]    Script Date: 5/9/2022 1:28:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[result](
	[studentId] [int] NOT NULL,
	[subjectId] [int] NOT NULL,
	[result] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[studentId] ASC,
	[subjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[students]    Script Date: 5/9/2022 1:28:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[roll] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subjects]    Script Date: 5/9/2022 1:28:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subjects](
	[id] [int] NOT NULL,
	[name] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trainers]    Script Date: 5/9/2022 1:28:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trainers](
	[trainerId] [int] NOT NULL,
	[trainerName] [nvarchar](50) NOT NULL,
	[trainerContact] [nvarchar](20) NOT NULL,
	[trainerEmail] [nvarchar](30) NOT NULL,
	[picture] [varbinary](max) NULL,
	[subjectId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[trainerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/9/2022 1:28:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[email] [nvarchar](30) NOT NULL,
	[contact] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[students] ON 

INSERT [dbo].[students] ([id], [name], [roll]) VALUES (1, N'Afrin', N'20')
INSERT [dbo].[students] ([id], [name], [roll]) VALUES (2, N'Afrin', N'20')
INSERT [dbo].[students] ([id], [name], [roll]) VALUES (3, N'Afrin', N'20')
SET IDENTITY_INSERT [dbo].[students] OFF
GO
INSERT [dbo].[subjects] ([id], [name]) VALUES (1, N'Bangla')
INSERT [dbo].[subjects] ([id], [name]) VALUES (2, N'English')
INSERT [dbo].[subjects] ([id], [name]) VALUES (3, N'Math')
GO
INSERT [dbo].[trainers] ([trainerId], [trainerName], [trainerContact], [trainerEmail], [picture], [subjectId]) VALUES (1212, N'Imam Hossain', N'0198474152', N'imam@gmail.com', NULL, 122)
INSERT [dbo].[trainers] ([trainerId], [trainerName], [trainerContact], [trainerEmail], [picture], [subjectId]) VALUES (1213, N'Rifat khan', N'01984746541', N'rifat@gmail.com', NULL, 123)
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [username], [password], [email], [contact]) VALUES (1, N'Afrin', N'afrin121', N'afrin121@gmail.com', N'017543211099')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__870C3C8B6771DA83]    Script Date: 5/9/2022 1:28:50 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[contact] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__F3DBC5721F7814D7]    Script Date: 5/9/2022 1:28:50 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[result]  WITH CHECK ADD FOREIGN KEY([studentId])
REFERENCES [dbo].[students] ([id])
GO
ALTER TABLE [dbo].[result]  WITH CHECK ADD FOREIGN KEY([subjectId])
REFERENCES [dbo].[subjects] ([id])
GO
ALTER TABLE [dbo].[trainers]  WITH CHECK ADD FOREIGN KEY([subjectId])
REFERENCES [dbo].[subjects] ([id])
GO
USE [master]
GO
